.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffff;
}

.start {
  width: 90%;
  max-width: 767px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.nav-link {
  color: #000000;
}

.navbar-brand {
  color: #000000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttons {
  background-color: #ffdc97;
}

.logo {
  background-color: #ffc889;
}

.content {
  width: 90%;
  max-width: 767px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;

}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.table {
  width: 90%;
  max-width: 767px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.table-info {
  text-align: center;
}

/* for checklist */
.row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.text-right{
  text-align: right;
}  

.shadow-inner  {
  --tw-shadow: inset 0 2px 4px 0 rgba(7, 4, 4, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), 
  var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@import '~antd/dist/antd.css';

.h-screen {
  height: 100vh;
}

.text-white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.bg-dark {
  background-color: #ffc889;
}

.bg-orange {const pagination = { position: 'bottomLeft' };
  background-color: #fff5bd;
  width: 90%;
  max-width: 767px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.uppercase {
  text-transform: uppercase;
}

.font-bold{
  font-weight: 700;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.p-0 {
  padding: 0;
}

.pb-0 {
  padding-bottom: 0;
}
.pt-10{
  padding-top:10px;
}
.pt-20{
  padding-top:20px;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}


/* OVERRIDES */
#nav-drawer .ant-drawer-body {
  background-color: #ffffff !important;
  padding: 0;
}
